﻿<header>[2FA] : Policy Change successful</header>
<div style="color: #000; font-family: Calibri; font-size: 11pt;">
    <div style="color: #78ADDC">Why am I receiving this email?</div><br />
    You successfully created a virtual Smart Card.<br /><br />
    You have to start the update process of your digital ID manually by opening a web browser and navigating to <a href="https://rb-trustcenter.de.bosch.com/urs01/">https://rb-trustcenter.de.bosch.com/urs01/</a><br />
    It is mandatory to have your authorization code from the Trust Center PIN Letter for this process. <br /><br />
    If you’ve lost your Trust Center PIN Letter, you can request a new one here: <a href="https://sec-selfservice.de.bosch.com/pinletter_application/en/start.aspx">Link to Trust Center.</a><br /><br /><br />
    <div style="color: #808080">
        Please don't answer this email.<br />
        In case of any questions, consult the link to the knowledgebase or get in contact with the CI Hotline.<br />
        This email was sent automatically from CI\CBE4 Security Info (CI/CBE4).<br />
    </div>
    <a href="https://inside-docupedia.bosch.com/confluence/x/W-JUI">Link to knowledgebase</a><br />
</div>