﻿<header>[2FA] : Policy Change successful</header>
<div style="color: #000; font-family: Calibri; font-size: 11pt;">
    <div style="color: #78ADDC">Why am I receiving this email?</div><br />
    You successfully created a virtual Smart Card.<br /><br />
    Now you will receive an update notification from Entrust.<br />
    Please follow the update procedure by clicking on the Entrust update icon.<br />
    <div style="margin-left: 20px">
        <br />
        <img src="cid:TCSPC_EntrustUpdate1" />
        &nbsp;&nbsp;
        <img src="cid:TCSPC_EntrustUpdate2" />
    </div>
    <br />
    <span style="color: #78ADDC">Only in case the automatic update fails,</span> you have to start this process manually by opening a web browser and navigating to <a href="https://rb-trustcenter.de.bosch.com/urs01/">https://rb-trustcenter.de.bosch.com/urs01/</a><br />
    For the manual process, you need your authorization code from the Trust Center PIN Letter.<br /><br />
    If you’ve lost your Trust Center PIN Letter, you can request a new one here: <a href="https://sec-selfservice.de.bosch.com/pinletter_application/en/start.aspx">Link to Trust Center.</a><br /><br /><br />
    <div style="color: #808080">
        Please don't answer this email.<br />
        In case of any questions, consult the link to the knowledgebase or get in contact with the CI Hotline.<br />
        This email was sent automatically from CI\CBE4 Security Info (CI/CBE4).<br />
    </div>
    <a href="https://inside-docupedia.bosch.com/confluence/x/W-JUI">Link to knowledgebase</a><br />
</div>