﻿<header>[2FA] : Policy Remove successful</header>
<div style="color: #000; font-family: Calibri; font-size: 11pt;">
    <div style="color: #78ADDC">Why am I receiving this email?</div><br />
    You have successfully deleted your virtual Smart Card.<br />
    Your digital ID was changed back to user ID / password only.<br /><br />
    <div style="color: #808080">
        Please don't answer this email.<br />
        In case of any questions, consult the link to the knowledgebase or get in contact with the CI Hotline.<br />
        This email was sent automatically from CI\CBE4 Security Info (CI/CBE4).<br />
    </div>
    <a href="https://inside-docupedia.bosch.com/confluence/x/W-JUI">Link to knowledgebase</a><br />
</div>