﻿<div style="color: #000; font-family: Calibri; font-size: 11pt;">
    Dear 2FA Support Team,<br />
    <br />
    Something went wrong during the Trust Center Policy Change: <br /> <br />

    User {0}. <br />
    Distinguished Name: {1} <br />
    Policy Change to: 3 Key Pair <br />
    Date / Time: {2} <br /> <br />

    Please check the web service and fix the problem. <br />
    After the problem is fixed: <br /> <br />


    Inform the user by email. <br />
    Correct the status entry in the database <br />
    Move this email to the processed folder <br />
</div>