﻿<header>2FA virtual Smart Card response code</header>
<div style="color: #000; font-family: Calibri; font-size: 11pt;">
    <div style="color: #78ADDC">Why am I receiving this email?</div><br />
    You requested to reset your PIN for the virtual Smart Card.<br /><br />
    Please use the following response code to reset your virtual Smart Card PIN<br /><br />
    <b style="margin-left: 15px; color: #808080; text-transform: uppercase; font-size:25px;">
    <b style="color: deepskyblue;display: inline;">{1}</b>{2}<b style="color: deepskyblue;display: inline;">{3}</b>{4}
    </b><br /><br />
    The code was requested by <b style="color: #808080; text-transform: uppercase;">{0}</b><br /><br /><br />
    <div style="color: #808080">
        Please don't answer this email.<br />
        In case of any questions, consult the link to the knowledgebase or get in contact with the CI Hotline.<br />
        This email was sent automatically from CI\CBE4 Security Info (CI/CBE4).<br />
    </div>
    <a href="https://inside-docupedia.bosch.com/confluence/x/W-JUI">Link to knowledgebase</a><br />
</div>
