﻿<header>Activation status for 2FA Virtual Smart Card</header>
<div style="color: #000; font-family: Calibri; font-size: 11pt;">
    <div style="color: #78ADDC">Why am I receiving this email?</div><br />
    You successfully created a virtual Smart Card.<br />
    The update of your digital ID could not proceed immediately.<br />
    We will inform you as soon as the update has finished.<br /><br /><br />
    <div style="color: #808080">
        Please don't answer this email.<br />
        In case of any questions, consult the link to the knowledgebase or get in contact with the CI Hotline.<br />
        This email was sent automatically from CI\CBE4 Security Info (CI/CBE4).<br />
    </div>
    <a href="https://inside-docupedia.bosch.com/confluence/x/W-JUI">Link to knowledgebase</a><br />
</div>