﻿<div style="color: #000; font-family: Calibri; font-size: 11pt;">
    Dear {0},<br/>
    <br/>
    Now some background tasks have to be fulfilled.<br/>
    We will inform you about the next steps shortly. <br/>
    Please be informed that till the deactivation process has not finished you can not use 2FA. <br/>
    <br/>
    Best regards,<br/>
    CICBE4 Security Info (CI/CBE4)
</div>